extends layouts/default

block content
    .container
        .row-15
            div.col-large-10: div.inner This is some text
            div.col-2.col-push--1: div.inner This is some text
            div.col-3.col-pull--1: div.inner This is some text
